<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clarke - DH Heroes</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
    <a href="/home"><h3>Volver</h3></a>
    <h1>Clarke</h1>
    <img src="/images/berners-lee.jpg" alt="Retrato de Timothy John Berners-Lee">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde facere, corrupti molestiae vero, placeat amet voluptate repellat iste dicta nulla perspiciatis facilis odit, minus laboriosam ad ipsa id iusto et assumenda impedit vitae delectus esse dolorem pariatur. Voluptatem, sed recusandae, at id quo delectus non harum dolores placeat, quas aperiam.</p>
</body>
</html>